<!doctype html>
<html>
<head>
    <title>The Music Profile</title>
   <%- include head %> 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.0/jquery.fullPage.css">
</head>
<body class="home-body">
<!-- header -->
<nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top nav-home">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="#"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <a href="/auth/google?type=Consumer" class="btn btn-google header-login"><span class="fa fa-google-plus"></span> Google</a>
      <a href="/auth/facebook?type=Consumer" class="btn btn-facebook header-login"><span class="fa fa-facebook"></span> Facebook</a>
      
      <p class="navbar-text navbar-right nav-text">Consumer</p>
      <img src="images/consumer-white.png" width="20" class="navbar-right nav-icon">
      <p class="navbar-text navbar-right nav-text" style="font-size:23px;line-height:0.6;">&nbsp&nbsp|</p>


      <a href="/auth/google?type=Producer" class="btn btn-google header-login"><span class="fa fa-google-plus"></span> Google</a>
      <p class="navbar-text navbar-right nav-text">Producer</p>
      <img src="images/producer-white.png" width="20" class="navbar-right nav-icon">
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- end header -->

<div class="container">
<div id="fullpage">

    <!-- HOME SLIDE -->
     <div class="section home-slide1 home-slide">
            <div class="center holder-4">
           <!--      <h1>The Music Profile</h1>
                <h3>Content matched personally to your taste</h3> -->
               <!--  <video width="600"  autoplay loop>
                <source src="images/logo-anima.mp4" type="video/mp4" />
                <source src="movie.ogg" type="video/ogg" />
                Your browser does not support the video tag.
              </video> -->
            </div>
            <div class="bounce"><i class="fa fa-angle-double-down"></i></div>
     </div>


     <!-- CONSUMER -->
    <div class="section home-slide2-consumer home-slide">
         <div class="center mobile-holder slideUp">
                <img src="images/consumer-white.png" class="res-img">
                <h2>Consumer</h2>
                <span style="color:#00bfff;">
                <h4>Simply consum music you love. </h4></span>
                <ul>
                <span style="font-size: 16px;">
                <li><i class="fa fa-check" aria-hidden="true"></i> Create your own Music Profile in seconds</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Listen to playlits customized for you</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Enjoy our auto DJ and jump between different genres</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Explore new artist that match your Music Profile</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Follow artists and friends and listen to their profiles</li>
                </span>
              </ul>
              <div class="center">
                    <br>
                    <a href="/auth/google?type=Consumer" class="btn btn-google"><span class="fa fa-google-plus"></span> Signup/Login with Google</a><br><br>
                    <a href="/auth/facebook?type=Consumer" class="btn btn-facebook"><span class="fa fa-facebook"></span> Signup/Login with Facebook</a>
              </div>
        </div>
    </div>



     <!-- PRODUCER -->
      <div class="section home-slide2-producer home-slide">
          <div class="center mobile-holder slideUp">
              <img src="images/producer-white.png" class="res-img">
              <h1>Producer</h1>
              <span style="color:#00bfff;">
              <h4>Get your music out there. </h4></span>
              <ul>
              <span style="font-size: 16px;">
                <li><i class="fa fa-check" aria-hidden="true"></i> Define your artist music profile</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Spread your music to high match Consumers</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Get to know your listeners</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Track your popularity by viewing statistics</li>
                <li><i class="fa fa-check" aria-hidden="true"></i> Enjoy all Consumer features and listen to great music</li>
                </span>
              </ul>
              <div class="center">
              <br>
              <a href="/auth/google?type=Producer" class="btn btn-google"><span class="fa fa-google-plus"></span> Signup/Login with Google</a>
              </div>

          </div>
     </div>


     <!-- BUSINESS PLEASURE SLIDE -->
     <div class="section home-slide parallax-window" data-parallax="scroll" data-image-src="/images/slide-bp.jpg">
            <div class="center holder-2">
            <h2>Business Pleasure</h2>
            <span style="font-size: 16px;"><p>Define your music preferences for busy and playfull modes in your day. Check out our Activity Switch to set your preferences automatically</p></span>
            </div>
     </div>



     <!-- SPEARD THE WORD SLIDE -->
     <div class="section home-slide parallax-window" data-parallax="scroll" data-image-src="/images/slide-share.jpg">
              <div class="holder-3" style="width:40%">
                <h2>Spread the word</h2>     
                <span style="font-size: 16px;">
                <p>We would really appreciate if you can help us spread the word and share The Music Profile for eveyone to enjoy!</p></span>

                <!-- SHARE ON FACEBOOK -->
                <a href="https://www.facebook.com/sharer/sharer.php?u=themusicprofile.com" class="share share-fb" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp Share</a>

                <!-- SHARE ON TWEETER -->
                <a href="https://twitter.com/share" class="share share-tweet" data-url="http://themusicprofile.com" data-hashtags="theMusicProfile" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>&nbsp Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                <!-- SHARE ON GOOGLE + -->
              <!-- <div class="g-plus" data-action="share" data-height="24" data-href="http://themusicprofile.com"></div> -->
              

              <a href="https://plus.google.com/share?url=http://themusicprofile.com" class="share share-gp" target="_blank">
                   <i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp Share</a>
              </a>
              </div>

              <div class="footer">
                  <!-- about -->
                  <a id="inline" href="#about"><div class="footer-icons"><i class="fa fa-info" aria-hidden="true"></i></div></a>

                  <!-- contact us -->
                  <a id="inline" href="#contact"><div class="footer-icons"><i class="fa fa-envelope" aria-hidden="true"></i></div></a>

                  <!-- facebook -->
                  <a href="https://www.facebook.com/theMusicProfile/" target="_blank"><div class="footer-icons"><i class="fa fa-facebook" aria-hidden="true"></i></div></a>

                  <!-- privacy policy -->
                  <a href="/privacyPolicy" target="_blank"><div class="footer-icons"><i class="fa fa-lock" aria-hidden="true"></i></div></a>



                   <!--  <p><a href="#">About</a> | </p>
                    <p><a href="#">Contact us</a> | </p>
                    <p><a href="https://www.facebook.com/theMusicProfile/" target="_blank">Facebook</a></p> -->

                    <!-- android app -->
                    <img src="images/app-on-Google-play.png" width="200" style="float:right">
              </div>
    </div>




</div>
<!-- END FULL PAGE -->
<!-- <div class="parallax-window" data-parallax="scroll" data-image-src="/images/slide-share.jpg"></div>
<div class="parallax-window" data-parallax="scroll" data-image-src="/images/poly.jpg"></div>
<div class="parallax-window" data-parallax="scroll" data-image-src="/images/slide-share.jpg"></div> -->

    

</div>
<%- include jsFiles %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.0/jquery.fullPage.js"></script>
<script src="js/parallax.min.js"></script>
<script src="js/attrchange.js"></script>
<script>
$(document).ready(function() {

    $('#fullpage').fullpage({
        //Navigation
        menu: '#menu',
        lockAnchors: false,
        // anchors:['Home', 'Producer | Consumer', 'Business | Pleasure', 'Spread the Word'],
        anchors: ['Home', 'Consumer' ,'Producer' , 'Business | Pleasure', 'Spread the Word'],
        navigation: true,
        navigationPosition: 'right',
        // navigationTooltips: ['Home', 'Producer | Consumer', 'Business | Pleasure', 'Spread the Word'],
        navigationTooltips: ['Home', 'Consumer' ,'Producer' , 'Business | Pleasure', 'Spread the Word'],
        showActiveTooltip: false,
        slidesNavigation: true,
        slidesNavPosition: 'bottom',

        //Scrolling
        css3: true,
        scrollingSpeed: 700,
        autoScrolling: true,
        fitToSection: false,
        fitToSectionDelay: 1000,
        scrollBar: true,
        easing: 'easeInOutCubic',
        easingcss3: 'ease',
        loopBottom: false,
        loopTop: false,
        loopHorizontal: true,
        continuousVertical: false,
        normalScrollElements: '#element1, .element2',
        scrollOverflow: true,
        scrollOverflowOptions: null,
        touchSensitivity: 15,
        normalScrollElementTouchThreshold: 5,

        //Accessibility
        keyboardScrolling: true,
        animateAnchor: true,
        recordHistory: true,

        //Design
        controlArrows: true,
        verticalCentered: false,
        sectionsColor : ['#ccc', '#fff'],
        // paddingTop: '3em',
        // paddingBottom: '10px',
        // fixedElements: '#header, .footer',
        responsiveWidth: 0,
        responsiveHeight: 0,

        //Custom selectors
        sectionSelector: '.section',
        slideSelector: '.slide',

        //events
        onLeave: function(index, nextIndex, direction){},
        afterLoad: function(anchorLink, index){
          $(".section").eq(0).animate({"opacity":"1"},500);  //fade the first div.section in on page load
        },
        afterRender: function(){},
        afterResize: function(){},
        afterSlideLoad: function(anchorLink, index, slideAnchor, slideIndex){

        },
        onSlideLeave: function(anchorLink, index, slideIndex, direction, nextSlideIndex){}
    });


});


</script>

<script>
$(document).ready(function(){
    // init fancybox
    $("#inline").fancybox({
    helpers : {
        overlay : {
            css : {
                'background' : 'rgba(0, 0, 0, 0.7)'
            }
        }
    }
  });

    //arrow down
    $(".bounce").on("click", function(){
      $.fn.fullpage.moveSectionDown();
    });

(function($) {

  /**
   * Copyright 2012, Digital Fusion
   * Licensed under the MIT license.
   * http://teamdf.com/jquery-plugins/license/
   *
   * @author Sam Sehnert
   * @desc A small plugin that checks whether elements are within
   *     the user visible viewport of a web browser.
   *     only accounts for vertical position, not horizontal.
   */

  $.fn.visible = function(partial) {
    
      var $t            = $(this),
          $w            = $(window),
          viewTop       = $w.scrollTop(),
          viewBottom    = viewTop + $w.height(),
          _top          = $t.offset().top,
          _bottom       = _top + $t.height(),
          compareTop    = partial === true ? _bottom : _top,
          compareBottom = partial === true ? _top : _bottom;
    
    return ((compareBottom <= viewBottom) && (compareTop >= viewTop));

  };
    
})(jQuery);

var win = $(window);

var allMods = $(".slideUp");

allMods.each(function(i, el) {
  var el = $(el);
  if (el.visible(true)) {
    el.addClass("already-visible"); 
  } 
});

win.scroll(function(event) {
  
  allMods.each(function(i, el) {
    var el = $(el);
    if (el.visible(true)) {
      el.addClass("come-in"); 
    } 
  });
  
});


$(".section").attrchange({
    trackValues: true, // set to true so that the event object is updated with old & new values
    callback: function(evnt) {
        if(evnt.attributeName == "class") { // which attribute you want to watch for changes
            if(evnt.newValue.search(/active/i) == -1) { // "active" is the class name you search for inside "class" attribute
                $(".section.active").animate({"opacity":"1"},1000); //fade in the section with class active
            }
        }
    }
});

}); //end of document ready
</script>
<!-- Place this tag in your head or just before your close body tag. -->
<script src="https://apis.google.com/js/platform.js" async defer></script>
<script>
  $(window).scroll(function() {
    $('.holder-2').each(function(){
    var imagePos = $(this).offset().top;

    var topOfWindow = $(window).scrollTop();
      if (imagePos < topOfWindow+400) {
        $(this).addClass("hatch");
      }
    });
  });
</script>


<!-- FANCYBOX -->


    <!-- ABOUT -->
    <div style="display:none">
        <div id="about">
        <h2>About</h2>
        <p>This project was founded at 2016 as part of our software engineering studies at Shenkat College for Engineering and Design. </p>
        <p>Shani Almog</p>
        <p>Rafael Bar</p>
        <p>Stas Volfus</p>
        <p>Viktoria Yakovashvili</p>
        </div>
    </div>


    <!-- CONTACT -->
    <div style="display:none">
        <div id="contact">
        <h2>Contact Us</h2>
        <p>We would love to get some feedbacks or answer any questions. </p>
         <form action="/processWizardForm" method="post" id="wizard">
      
        <div class="form-group col-md-6">
          <label for="firstName" class="control-label">Name</label>
          <input type="text" class="producerForm form-control" id="firstName" name="firstName">
        </div>
        
        <div class="form-group col-md-6">
          <label  for="email" class="control-label">Email </label>
          <input type="email" class="producerForm form-control" id="email" name="email">
        </div>

          <div class="form-group col-md-11">
          <label  for="msg" class="control-label">Message</label>
          <textarea rows="4" cols="30" class="producerForm form-control"  id="msg" name="msg"  style="width:100%;"></textarea>
        </div>


        </form>

         <button type="submit" form="wizard" class="btn btn-submit" value="Submit" style="width:97%; margin-bottom:20px; padding: 10px 17px !important;">Submit</button>
        </div>
    </div>

<!-- END FANCYBOX -->

</body>
</html>