<!doctype html>
<html>
<head>
    <title>Music Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>Music Profile</h1>
        <h2>Consumer</h2>
        <p>Login or Register with:</p>
        <a href="/auth/google?type=Consumer" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
        <a href="/auth/facebook?type=Consumer" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>


        <br>
        <h2>Producer</h2>
        <p>Login or Register with:</p>
        <a href="/auth/google?type=Producer" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
        <!-- <a href="/auth/facebook?type=Producer" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a> -->
        
    </div>

</div>
</body>
</html>