<!doctype html>
<html>
<head>
    <title>The Music Profile</title>
   <%- include head %> 
</head>
<body>
<!-- header -->
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Music Profile</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-music">  <span class=" fa-angle-down"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Activity Switch</a></li>
            <li><a href="#">Mobile App</a></li>
            <li><a href="#">About</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Developers API</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Help</a></li>
          </ul>
        </li>
      </ul>
      <!-- SEARCH -->
<!--       <form id="search-form" ng-submit="search(searchText)" class="navbar-form navbar-left" role="search">
        <div class="form-group search-wrapper">
          <input type="text" ng-model="searchText" class="form-control search-form search-custom" placeholder="Search">
          <button type="submit" class="btn btn-default search-btn"><span class="fa fa-search"></button>
        </div>
      </form> -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- end header -->

<div class="container">
<!--      <div class="col-sm-2">
            <div class="well leftSidebar">
                <div class="player-container">
                </div>
                <div class="playlist-container">
                </div>
            </div>
    </div>   -->


     <div class="col-sm-9 home">
            <div class="content" style="background: linear-gradient(rgba(0, 0, 0,0) 100%, rgba(0, 0, 0,0));">
            </div>
    </div>


      <div class="col-sm-3">
                <div class="well rightSidebarHome">

                <h4>Consumer</h4>
                <p>Login or Register with</p>
                <a href="/auth/google?type=Consumer" class="btn btn-google"><span class="fa fa-google-plus"></span> Google</a>
                <a href="/auth/facebook?type=Consumer" class="btn btn-facebook"><span class="fa fa-facebook"></span> Facebook</a>
                <br>
                <hr>
                
                <h4>Producer</h4>
                <p>Login or Register with</p>
                <a href="/auth/google?type=Producer" class="btn btn-google"><span class="fa fa-google-plus"></span> Google</a>
                <!-- <a href="/auth/facebook?type=Producer" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a> -->

                </div>
    </div> 
        
    

</div>
<%- include jsFiles %>
</body>
</html>