<!doctype html>
<html ng-app="profile">
<head>

    <title>Music Profile</title>  

     <%- include head %>
     
     <script src="js/pie.js"></script>

</head>
<body>
<%- include header %>
<div class="container" ng-controller="profileCtrl">
<div ng-init="init('<%= JSON.stringify(user) %>')"></div>
</div>
</body>