 <div class="col-sm-12 text-center">
        <!-- <div class="well"> -->
            <h2 style="margin-top:0px;">Music Preferences</h2>
            <p>Change your business and pleasure pies by choosing categories</p>
        <!-- </div> -->
    </div>

    <!-- BEGIN FORM -->
    <form action="/updatePreferences" method="post" id="updatePreferencesForm">
    <div class="col-sm-6">
        <div class="well">
            <h4>Business</h4>
            <hr />
                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_rock" name="b_rock" value="Rock" ng-checked="businessPreferences.indexOf('Rock') != -1">
                  <label for="b_rock">Rock</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_pop" name="b_pop"  value="Pop" ng-checked="businessPreferences.indexOf('Pop') != -1">
                  <label for="b_pop">Pop</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_rnb" name="b_rnb"  value="rNb" ng-checked="businessPreferences.indexOf('R&B') != -1">
                  <label for="b_rnb">R&amp;B</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_classical" name="b_classical"  value="Classical" ng-checked="businessPreferences.indexOf('Classical') != -1">
                  <label for="b_classical">Classical</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_country" name="b_country"  value="Country" ng-checked="businessPreferences.indexOf('Country') != -1">
                  <label for="b_country">Country</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_elctronic" name="b_elctronic"  value="Electronic" ng-checked="businessPreferences.indexOf('Electronic') != -1">
                  <label for="b_elctronic">Electronic</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_latin" name="b_latin"  value="Latin" ng-checked="businessPreferences.indexOf('Latin') != -1">
                  <label for="b_latin">Latin</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_blues" name="b_blues" value="Blues" ng-checked="businessPreferences.indexOf('Blues') != -1">
                  <label for="b_blues">Blues</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_world" name="b_world"  value="World" ng-checked="businessPreferences.indexOf('World') != -1">
                  <label for="b_world">World</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_punk" name="b_punk"  value="Punk" ng-checked="businessPreferences.indexOf('Punk') != -1">
                  <label for="b_punk">Punk</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_metal" name="b_metal"  value="Metal" ng-checked="businessPreferences.indexOf('Metal') != -1">
                  <label for="b_metal">Metal</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_jazz" name="b_jazz"  value="Jazz" ng-checked="businessPreferences.indexOf('Jazz') != -1">
                  <label for="b_jazz">Jazz</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_folk" name="b_folk"  value="Folk" ng-checked="businessPreferences.indexOf('Folk') != -1">
                  <label for="b_folk">Folk</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_reggae" name="b_reggae"  value="Reggae" ng-checked="businessPreferences.indexOf('Reggae') != -1">
                  <label for="b_reggae">Reggae</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="b_hiphop" name="b_hiphop"  value="Hip Hop" ng-checked="businessPreferences.indexOf('Hip Hop') != -1">
                  <label for="b_hiphop">Hip Hop</label>
                </div>
        </div>
    </div>

        <div class="col-sm-6">
        <div class="well">
            <h4>Pleasure</h4>
            <hr />            
                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_rock" name="p_rock" value="Rock" ng-checked="pleasurePreferences.indexOf('Rock') != -1">
                  <label for="p_rock">Rock</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_pop" name="p_pop"  value="Pop" ng-checked="pleasurePreferences.indexOf('Pop') != -1">
                  <label for="p_pop">Pop</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_rnb" name="p_rnb"  value="rNb" ng-checked="pleasurePreferences.indexOf('R&B') != -1">
                  <label for="p_rnb">R&amp;B</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_classical" name="p_classical"  value="Classical" ng-checked="pleasurePreferences.indexOf('Classical') != -1">
                  <label for="p_classical">Classical</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_country" name="p_country"  value="Country" ng-checked="pleasurePreferences.indexOf('Country') != -1">
                  <label for="p_country">Country</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_elctronic" name="p_elctronic"  value="Electronic" ng-checked="pleasurePreferences.indexOf('Electronic') != -1">
                  <label for="p_elctronic">Electronic</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_latin" name="p_latin"  value="Latin" ng-checked="pleasurePreferences.indexOf('Latin') != -1">
                  <label for="p_latin">Latin</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_blues" name="p_blues" value="Blues" ng-checked="pleasurePreferences.indexOf('Blues') != -1">
                  <label for="p_blues">Blues</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_world" name="p_world"  value="World" ng-checked="pleasurePreferences.indexOf('World') != -1">
                  <label for="p_world">World</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_punk" name="p_punk"  value="Punk" ng-checked="pleasurePreferences.indexOf('Punk') != -1">
                  <label for="p_punk">Punk</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_metal" name="p_metal"  value="Metal" ng-checked="pleasurePreferences.indexOf('Metal') != -1">
                  <label for="p_metal">Metal</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_jazz" name="p_jazz"  value="Jazz" ng-checked="pleasurePreferences.indexOf('Jazz') != -1">
                  <label for="p_jazz">Jazz</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_folk" name="p_folk"  value="Folk" ng-checked="pleasurePreferences.indexOf('Folk') != -1">
                  <label for="p_folk">Folk</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_reggae" name="p_reggae"  value="Reggae" ng-checked="pleasurePreferences.indexOf('Reggae') != -1">
                  <label for="p_reggae">Reggae</label>
                </div>

                <div class="checkbox checkbox-info">
                  <input type="checkbox" id="p_hiphop" name="p_hiphop"  value="Hip Hop" ng-checked="pleasurePreferences.indexOf('Hip Hop') != -1">
                  <label for="p_hiphop">Hip Hop</label>
                </div>
        </div>
    </div>
    
    <input type="hidden" name="userID" value="{{myID}}">
    
    </form>
    <button type="submit" id="updatePreferencesFormSubmit" form="updatePreferencesForm" value="Submit" class="btn btn-submit" style="width:100%; padding: 10px 17px !important;">Submit</button>
    <!-- END FORM -->