@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .navbar-static-top{
    	position: relative;
    	width:100%;
    	z-index: 9999;
    	height: 10vh;
    	top:0;    }
    .player-container{
    	position: relative;
    	width:100%;
    	z-index: 9998;
    	//top:10vh;
    	height: 45vh;
    }
	.playlist-container{
		position: relative;
		width:100%;
		bottom: 0;
		z-index: 9998;
		background-color: #222;
		height: 48vh !important;
	}
    .col-sm-3 .rightSidebar, .col-sm-7 .content{
    	display: none;
    }
    #player {
  	  margin-bottom: 0;
  	  height: 25vh;
    }
    .player-container p {
	    margin-bottom: 0;
	}
    .playerControllers{
    	padding: 0;
    	margin-top: 10px;
    }
    .timeContainer{
    	position: absolute;
    	left:0;
    	right:0;
    	bottom: 0;
    }
    .leftSidebar{
    	height: 100%;
    	min-height: unset;
    }
    .nanobar{
    	display: none;
    }
    body::-webkit-scrollbar{
	    display: none; 
	}
 body { overflow: -moz-scrollbars-none; overflow: hidden !important;}
  .mobile-buttons{
  	padding-bottom: 0px;
    padding-top: 4px;
    z-index: 9999;
    position: relative;
    bottom: 0;
    width: 100vw;
    font-size: 20px;
    //border-top: 2px solid white;
    display: block !important;
    background-color: #222;
    height: 7vh;
    color: #03BBFF;
    line-height: 1.9;
    font-weight: bold;
  }
  .left-mobile-button{
  	display: table-cell;
    width: 50vw;
    text-align: center;
    height: 7vh;
    border-top: 2px solid #03BBFF;
    border-right: 2px solid #03BBFF;
  }
  .right-mobile-button{
  	display: table-cell;
    width: 50vw;
    text-align: center;
    height: 7vh;
    border-top: 2px solid #03BBFF;
  }
  #fullpage .section{
     display: none;
  }
  #fullpage .section:first-child{
     display: block;
  }
  .holder-4 img{
     width:320px;
     position: unset;
     display: inline-block;
     top:0;
     left:0;
     margin-right: 0;
     transform:unset;

  }
  .inner-container{
    display: table-cell;
    /*float: left;*/
    display: block;
    margin-right: 10px;
  }
  .consumer-container{
     padding-right: 15px;
    padding-left: 15px;
    
    display: table;
    margin: 0 auto;
  }
  .header-login{
    float: unset;
  }
  .navbar {
    display: none;
  }
  .producer-container{
     padding-right: 15px;
    padding-left: 15px;
    
    padding-top: 25px;
    display: table;
    margin: 0 auto;
  }
  .navbar-text{
    margin:0;
    padding: 0;
  }
  #fp-nav{
    display: none;
  }
  .bounce{
    display: none;
  }
  .holder-4{
    position: relative;
    z-index: 9999;
     display: block;
    top:0;
    padding: 0;
        height: 90vh;
    
  }
  .navbar-right.nav-icon{
      width:50px;
  }
  #logo-gif{
    width:100% !important;
  }
  .login-container{
    display: block;
    /*position: absolute;*/
    /*top: 10%;*/
    width:100%;
  }
}
 
@media only screen and (min-device-width : 480px) and (max-device-width : 759px){
    .playlist-container{
        min-height: 170px;
    }
}	