/***********************************************************/
/************************CONFIGURATIONS*********************/
/***********************************************************/
/***********************************************************/
/************************CONFIGURATIONS*********************/
/***********************************************************/
/***********************************************************/
/***************************MIXINS**************************/
/***********************************************************/
/***********************************************************/
/***************************MIXINS**************************/
/***********************************************************/





/*theme colors*/

/*gray          #222*/
/*white         #e4e4e4*/
/*light blue    #00bfff*/
/* colors : #06befe", "#3872f8", "#8900fe", "#d120a6", "#ff166f"*/


* {
  margin: 0;
  padding: 0;
}

textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
    outline-width: 0;
}
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 0 rgba(81, 203, 238, 1);
  /*padding: 3px 0px 3px 3px;*/
  /*margin: 5px 1px 3px 0px;*/
  border: 0px solid rgba(81, 203, 238, 1);
}


body {
  color: #e4e4e4 !important;
  background-image: url("../images/background.jpg"); 
  background-repeat: no-repeat;
  background-position: center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*font-family: 'Unica One', sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background-color: #333335;
  word-wrap: break-word;
  overflow: hidden;
}

.home-body{
  background-color: #222 !important;
  background-image: none;
}

.logo{
  background-image: url("../images/logo-s-2.png"); 
  width:114px;
  height: 41px;
  margin:3px 10px 0 10px !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
/* Preloader */

#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#222; /* change if the mask should have another color then white */
    z-index:1001; /* makes sure it stays on top */
}

.res-img{
    width: 100%;
    max-width: 150px;
    padding:10px;
    height: auto;
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%; /* centers the loading animation horizontally one the screen */
    top:50%; /* centers the loading animation vertically one the screen */
    //background-image:url("../images/status.gif"); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    margin:-100px 0 0 -100px; /* is width and height divided by two */
}
hr{
    border-top: 1px solid rgba(255,255, 255,0.3);
    margin-top: 10px;
    margin-bottom: 10px;
}
h1,
h2,
h3,
h4 {
  /*font-family: 'Unica One', sans-serif;*/
  font-family: 'Glegoo', serif;
  /*font-weight: 100;*/
}
ul{
  list-style: none;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  padding:0px;
}

.center{
  text-align: center;
}
.split-slide{
  width:50% !important; 
  height:100vh; 
  float:left; 
  margin:0 !important;
  padding:100px 20px 50px 20px !important;
}
.holder{
  margin: 0 40px 0 40px;
  position: relative;
}
.holder ul{
  width:70%;
  line-height: 2; 
  text-align:left; 
  margin: 0 auto;
}
.holder-2{
  position: relative;
  top:200px;
  padding: 30px;
  background-color: rgba(0, 0, 0,0.5);
  width:65%;
  max-width: 960px;
  margin: 0 auto;
}
.holder-3{
  position: relative;
  margin: 0 40px 0 40px;
  top:100px;
}
.holder-4 {
    position: relative;
    top: 30%;
    padding: 30px;
     background-color: transparent;
    width: 100%;
    margin: 0 auto;
  }
.mobile-holder{
  width:420px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0,0.4);
  position: relative;
  top:20%;
  padding: 20px;
}
.mobile-holder ul{
  text-align: left;
}
.mobile-holder h2{
  margin: 0;
}


/*NAVBAR*/

/*.navbar-brand,
.navbar-nav li a {
    line-height: 150px;
    height: 60px;
    padding-top: 0;
}*/

.navbar{
  margin-bottom: 0px !important;
}
.container {
  width: 100%;
  height: auto;
  padding: 0px !important;
}
.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 20px 10px 20px;
}
.footer img, .footer p, .footer div{
  display: inline-block;
  font-size: 16px;
}
.footer p{
  margin-top: 50px;
}
.footer a{
  color: rgba(255,255, 255,0.3);
}
.footer-icons{
  margin-left: 10px;
  border: 2px solid rgba(255,255, 255,0.5);
  width: 60px;
 height: 60px ;
 border-radius: 50%;
 background-color: transparent;
   -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.footer-icons:hover{
  /*background-color: #00bfff;*/
  border: 2px solid #00bfff;
}
.footer .fa {
     width: 58px;
    display: block;
    text-align: center;
    color: rgba(255,255, 255,0.5);
    font: normal 34px 'FontAwesome';
    line-height: 60px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
       -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.footer .fa:hover{
  color: #00bfff;
}



.well {
  background-color: rgba(0, 0, 0,0.3);
  border: 0px;
  border-radius: 0px;
}
.leftSidebar {
  /*background: #222;*/
  border-top: 10px solid #222;
  border-right: 10px solid #222;
  min-height: 100vh;
  height: 100%;
  margin-bottom: 0px;
  padding: 0px;
}
.rightSidebar {
  border-top: 10px solid #222;
  border-left: 10px solid #222;
  background-color: rgba(255,255, 255,0.10);
  min-height: 100vh;
  height: 100%;
  margin-bottom: 0px;
  padding: 10px 25px 10px 25px;
}
.rightSidebarHome {
  border-top: 10px solid #222;
  border-left: 10px solid #222;
  /*background-color: rgba(255,255, 255,0.10);*/
  text-align: center;
  height: 100vh;
  margin-bottom: 0px;
  padding: 30px;
}
.side-icon{
  margin-bottom: 6px;
}
.details p {
  margin-left: 23px;
  color: #00cbff;
}
.content{
  background: linear-gradient(rgba(0, 0, 0,0.6) 100%, rgba(0, 0, 0,0));
  margin-bottom: 0px;
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.section{
  opacity: 0;
}
.home-slide{
      /*background-repeat: no-repeat;*/
  background-position: center center; 
  /*-webkit-background-size: cover;*/
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*min-height: 100vh;*/
}
.home-slide1{
  background-image: url("../images/poly.jpg") !important;
}
.home-slide2{
  background-image: url("../images/slide-pc.jpg") !important;
}
.home-slide3{
  background-image: url("../images/slide-bp.jpg") !important;
}
.home-slide2-producer{
  background-image: url("../images/slide-producer-full.jpg") !important;
}

.home-slide2-consumer{
  background-image: url("../images/slide-consumer-full.jpg") !important;
}
.home-slide3-business{
  background-image: url("../images/slide-business.jpg") !important;
  background-position: top ; 
}

.home-slide3-pleasure{
  background-image: url("../images/slide-pleasure.jpg") !important;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
.arrow-down {
    background-image: url("../images/scroll-icon.png");
    width: 33px;
    height: 45px;
    display: block;
    margin: 0 auto;
    background-repeat: no-repeat;
    padding-bottom: 10px;
    margin-top: -65px;
    -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background-color: white !important;
}
/*.home-slide4{
  background-image: url("../images/slide-share.jpg") !important;
}*/
/*TABS*/
.nav-home{
  background: linear-gradient(rgba(0, 0, 0,0.5) 100%, rgba(0, 0, 0,0));
  border-bottom: 0;
}

.nav-icon{
  margin:15px 0 0 10px ;
}

.nav-text{
  margin-right:5px;
  margin-left:5px;
  color:white !important;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align:center;
}

.nav-tabs, .nav-tabs>li>a{
  border: 0px;
}
.nav-tabs li a {
  color: #ffffff;
  padding: 0 !important;
}
.content .nav>li>a{
  padding: 0 15px;
}
.content .nav-tabs>li>a{
  border-radius: 0;
  margin-right: -3px;
}
.tab-content{
  padding:15px;
}
.tab-content div {
  position: relative;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border: 0px;
}
.nav-tabs>li{
  cursor: pointer;
  width: 100px;
  text-align: center;
}

/*profile tab*/
#profile-tab{
  background-color: #00bfff;
  color: #00bfff;
  transition: all 0.5s ease;
  height: 20px;
}
#profile-tab:after{
  content: url(../images/profile.png);
  opacity:0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.7s ease;
}
#profile-tab:hover:after , .nav-tabs li.active a#profile-tab:after{
    opacity:1;
    display: block;
}

/*favorites tab*/
#favorites-tab{
  background-color: #3772ff;
  color: #3772ff;
  transition: height 0.5s ease;
  height: 20px;
}
#favorites-tab:after{
  content: url(../images/profile.png);
  opacity:0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.7s ease;
}
#favorites-tab:hover:after , .nav-tabs li.active a#favorites-tab:after{
    opacity:1;
    display: block;
}

/*following tab*/
#following-tab{
  background-color: #8a00ff;
  color: #8a00ff;
  transition: height 0.5s ease;
  height: 20px;
}
#following-tab:after{
  content: url(../images/profile.png);
  opacity:0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.7s ease;
}
#following-tab:hover:after , .nav-tabs li.active a#following-tab:after{
    opacity:1;
    display: block;
}

/*followers tab*/
#followers-tab{
  background-color: #d31fa4;
  color: #d31fa4;
  transition: height 0.5s ease;
  height: 20px;
}
#followers-tab:after{
  content: url(../images/profile.png);
  opacity:0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.7s ease;
}
#followers-tab:hover:after , .nav-tabs li.active a#followers-tab:after{
    opacity:1;
    display: block;
}

/*statistics tab*/
#statistics-tab{
  background-color: #ff1a7c;
  color: #ff1a7c;
  transition: height 0.5s ease;
  height: 20px;
}
#statistics-tab:after{
  content: url(../images/profile.png);
  opacity:0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.7s ease;
}
#statistics-tab:hover:after , .nav-tabs li.active a#statistics-tab:after{
    opacity:1;
    display: block;
}

/*my songs tab*/
#mySongs-tab{
  background-color: #fc6b24;
  color: #fc6b24;
  transition: height 0.5s ease;
  height: 20px;
}
#mySongs-tab:after{
  content: url(../images/profile.png);
  opacity:0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.7s ease;
}
#mySongs-tab:hover:after , .nav-tabs li.active a#mySongs-tab:after{
    opacity:1;
    display: block;
}
#mySongs tr{
  cursor: pointer;
}


 .nav-tabs li.active a, #profile-tab:hover, #favorites-tab:hover,#following-tab:hover, #followers-tab:hover,#statistics-tab:hover, #mySongs-tab:hover{
  color: white !important;
  height: 140px !important;
  cursor: pointer;
  border-bottom-left-radius: 5em;
  border-bottom-right-radius: 5em;
}

#search{
  margin-bottom: 140px;
}


/*MOBILE TABS*/
.panel{
  background-color: transparent !important;
}


select {
  color: black;
}

textarea, input , .btn{
  outline: none !important; 
}



.cursor:hover, .btn:hover {
  cursor: pointer !important;
}
/*SEARCH FORM*/
.search-form {
  border-radius: 30px 0px 0px 30px;
  border-radius: Top-left, Top-right, Bottom-right, Bottom-left;
}
.header-login{
  float: right;
  margin: 11px 0 0 10px;
}
.share{
  padding:18px 30px 18px 30px;
  margin: 10px;
  border: 2px dotted white;
  display: inline-block;
  text-decoration: none;
  color:#fff;
  font-size: 20px;
  text-align: center;
  background-color: transparent;
   -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
.share-fb:hover{
  background-color: #3b5998;
  color:#fff;
  text-decoration: none;
}
.share-tweet:hover{
  background-color: #4099ff;
  color:#fff;
  text-decoration: none;
}
.share-gp:hover{
 background-color: #d34836;
  color:#fff;
  text-decoration: none; 
}
.btn{
  padding: 4px 9px !important;
  line-height: 1 !important;
  font-size: 11px !important;
}

.btn.focus, .btn:focus, .btn:hover{
  color: #fff !important;
}
.btn-google{
    color: #ea4640;
    border-color: #ea4640;
    padding: 6px 10px !important;
    font-size: 14px !important;
}
.btn-google:hover{
  color: #fff;
  background-color: #ea4640;
}
.btn-facebook{
    color: #409ae7;
    border-color: #409ae7;
    padding: 6px 10px !important;
    font-size: 14px !important;
}
.btn-facebook:hover{
  color: #fff;
  background-color: #409ae7;
}
.btn-follow{
    color: #fff;
    border-color: #00cbff;
    padding: 6px 17px !important;
    font-size: 14px !important;
}
.btn-follow:hover{
  color: #fff;
  background-color: #00cbff;
}
.btn-submit{
    color: #fff;
    border-color: #00cbff;
    background-color: transparent;
    padding: 6px 17px !important;
    font-size: 14px !important;
}
.btn-submit:hover{
  color: #fff;
  background-color: #00cbff;
}
.search-btn {
  height:20px;
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
  background-color: #4a4a4a;
  border: 0px;

}
.mode-container{
  margin: 0 auto;
  text-align: center;
}
.mode-btn{
  color: #64d8ff;
  border-radius: 2em;
  border: 0px;
  background-color: #00bfff;
  font-size: 14px;
  padding: 3px 16px;
  font-weight: 600;
  margin-right: 10px;
}
.mode-btn.active{
  background-color: #00bfff;
  color: #fff;
}

.mode-btn.active:hover , .btn-default.active:focus{
  background-color: #00bfff;
  color: #fff;
}
.mode-btn:hover{
  background-color: #00bfff;
  color: #fff;
}
.search-wrapper{
  margin-top: 6px;
}
.search-custom {
  display: inline-block;
  height:20px;
  width: 88%;
  background-color: #4a4a4a;
  border: 0px;
  color:#ffffff;
}
.search-custom:focus{
  outline: 0;
}
.searchresults{
  width: 130px;
  height: 200px;
  float: left;
  margin-right: 25px;
}
.searchresults p {
  text-align: center;
  margin-top: 5px;
}
.searchresults img{
  width: 100%;
}
.simg{
  float:left;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid rgba(255,255, 255,0.4);
}
.focus {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.focus:hover {
  border: 20px solid #222;
}
.recommand-result{
  width:100%; 
  height: 80px;
  /*visibility: hidden;*/
}


.recommand-text{
  float: left;
  margin-top: 4px;
  margin-left: 7px;
}
.recommand-text p{
  margin-top: 0;
  margin-bottom: 0;
}

/*FAVORITES TABLE*/
.song {
  font-weight: 600;
  text-align: center;
}
.duration {
  text-align: right;
}
.table-hover tbody tr td {
  border-color: #8900fe;
}
.table-hover tbody tr:hover td {
  background-color: #8900fe;
  border-color: #8900fe;
}
#recommended{
  margin-top: 20px;
}
.songItem{
  cursor:pointer;
}

/*PIE*/
.highcharts-container {
  margin: 0 auto;
  position: inherit !important;
}
.highcharts-tooltip {
  z-index: 9999 !important;
}
.highcharts-tooltip tspan {
  font-size: 16px !important;
}
.custom-tooltip {
  font-family: 'Source Sans Pro', sans-serif;
  width: 135px;
  height: 135px;
  color: white;
  line-height: 130px;
  border-radius: 50%;
  z-index: 9999 !important;
  text-align: center;
}
.custom-tooltip > span {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}
.custom-tooltip p {
  font-weight: 500;
  margin: auto auto;
}
#profileImg {
  border: 3px dotted #ffffff;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
/*END PIE*/
#ex1Slider .slider-selection {
  background: #BABABA;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.img {
  background-image: url("https://lh6.googleusercontent.com/-gaAgFzRLxQQ/AAAAAAAAAAI/AAAAAAAAAjc/ies0iU4BEqU/photo.jpg");
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
/***********************************************************/
/******************REGION: PLAYLIST STYLE*******************/
/***********************************************************/
.playlistItem {
  color: #cecece;
}
.first-item {
  display: none;
  background-color: #E0E0E3;
  padding-left: 24px;
  padding-top: 8px;
  border-radius: 2em;
  font-weight: bold;
}
.first-item div {
  color: #333335;
}
.first-item div .location a {
  color: #23527c;
}
.first-item hr {
  border-top: 1px solid transparent;
}
.bold {
  font-weight: 700;
}

/***********************************************************/
/***************END REGION: PLAYLIST STYLE******************/
/***********************************************************/
/***********************************************************/
/*************REGION: PLAYER CONTROLS STYLE*****************/
/***********************************************************/
.red {
  color: #ff166f;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .red {
    color: #ffffff;
  }
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .red {
    color: #8900fe;
  }
}
.yellow {
  /*color: #FFBB1B;*/
  color: #FFBB1B;
}
.yellow:hover {
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  -moz-transition: rotate(360deg);
  /* Firefox */
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -o-transition: rotate(360deg);
  /* Opera */
  transform: rotate(360deg);
  -webkit-transition: all 1s ease;
  /* WebKit */
  -moz-transition: all 1s ease;
  /* Firefox */
  -ms-animation: all 1s ease;
  /* Internet Explorer */
  -o-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
  /* Standard */
}
.font-size {
  font-size: 20px;
}
.loader {
  background-image: url("../images/loader.gif");
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 200px;
  display: block;
  visibility: hidden;
}
.abs{
  position: absolute;
}
.invisible-loader {
  visibility: hidden;
}
.visible-loader {
  visibility: visible;
}
.player-container{
  background-color: #222;
}
#player{
  margin-bottom: 10px;
}
.playerControllers{
  padding: 5px 0 10px 0;
  text-align: center;
}
.playlist-container{
  padding: 10px;
}
.songName {
  text-align: center;
  font-size: 17px;
  line-height: 1.2;
}
.artistName {
  text-align: center;
  font-size: 14px;
}
.producerForm{
  width: 200px;
  height: 30px;
  padding: 10px;
  color: #00cbff !important;
  border-radius: 3em;
  border: 0;
  background-color: rgba(255,255, 255,0.20);
}

.ms-container .ms-list{
  background-color: #222;
  border: 0 !important;
  border-radius: 0 !important;
}
.ms-container .ms-selectable li.ms-elem-selectable, .ms-container .ms-selection li.ms-elem-selection {
    border-bottom: 1px #555 solid !important;
    padding: 7px 11px 8px 14px !important;
    color: #eee !important;
    font-size: 14px !important;
}

.ms-container .ms-selectable li.ms-elem-selectable:hover, .ms-container .ms-selection li.ms-elem-selection:hover {
    background-color: #06befe !important; 
    color: #222 !important;
}

.msgBlock {
  background-color: #222;
  color: #64d8ff;
  padding: 15px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  font-size: 16px;
  /*font-weight: bold;*/
  border-radius: 0.5em;
  border: 1px solid #64d8ff;
  opacity: 0;
}
.elementToFadeInAndOut {
  -webkit-animation: fadeinout 5s linear 1 forwards;
  animation: fadeinout 5s linear 1 forwards;
}
@-webkit-keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.timeContainer{
  overflow: hidden;
  position: relative;
}
.timeContainer .videoDuration{
   display:inline-block;
   color:#5e5e5e;
   font-size:12px;
   float: right;
   width:50%;
   margin-bottom: 9px;
}
.timeContainer .videoCurrentTime{
   display:inline-block;
   color:#5e5e5e;
   font-size:12px;
   width:50%;
   margin-bottom: 9px;
   float: left;
}
.timeContainer .navTimer{
   display: block;
   height:4px;
   width:0%;
   background-color: #3875ff;
   position: absolute;
   bottom: 0;
   -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}


/***********************************************************/
/***********END REGION: PLAYER CONTROLS STYLE***************/
/***********************************************************/

/***********************************************************/
/***********REGION: STYLED SELECT***************************/
/***********************************************************/
.styled-select {
    height:35px;
    width: 325px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background: #fff; 
    border-radius: 0px;
    border:none;
}

/* Select arrow styling */
.styled-select select {
    width: 100%;
    height: 100%;
    background: url("../images/arrow.png")  no-repeat;
    outline: none;
    border:none;
    border-radius: 0px;
    background-position: center right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
    padding-left: 10px;
    cursor: pointer;
}
select::-ms-expand { /* for IE 11 */
    display: none;
}
/***********************************************************/
/***********END REGION: STYLED SELECT***********************/
/***********************************************************/



 .fancybox-skin {
      /*background-image: #000; /* or whatever */
        color: #e4e4e4 !important;
  background-image: url("../images/background.jpg"); 
  background-repeat: no-repeat;
  background-position: center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }


    /*producer wizard*/
    .ms-container{
      width: 100%;
    }


/***********************************************************/
/***************REGION: ABOUT PAGE**************************/
/***********************************************************/
.about-container{
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: black;
}
/***********************************************************/
/***************END REGION: ABOUT PAGE**********************/
/***********************************************************/

/***********************************************************/
/***************REGION: NANOBAR STYLE***********************/
/***********************************************************/
.bar{
  background-color: #00bfff;
  z-index: 1003;
}

.thumbnail{
  width: 100px;
}


/*ARROW*/
@import url(http://weloveiconfonts.com/api/?family=fontawesome);
 
.bounce .fa {
 width: 60px;
 display: block;
 text-align: center;
 color:#00bfff;
 font:normal 45px 'FontAwesome';
 line-height:60px;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
}
.fa-angle-double-down:before {content: "\f103";}
 
.bounce {
 position: absolute;
 bottom: 15%;
 left: 50% ;
 width: 60px;
 height: 60px ;
 margin-left:-30px;
 border: 2px solid #00bfff;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 border-radius:50%;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}
.bounce:hover{
  cursor: pointer;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}


/*SLIDE IN CONTENT*/
@import "compass/css3";

* {
  @include box-sizing(border-box); 
}

 
.come-in {
  transform: translateY(150px);
  animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
  animation-duration: 2s;
}
.already-visible {
  transform: translateY(0);
  animation: none;
}

@keyframes come-in {
  to { transform: translateY(0); }
}