/***********************************************************/
/************************CONFIGURATIONS*********************/
/***********************************************************/
/***********************************************************/
/************************CONFIGURATIONS*********************/
/***********************************************************/
/***********************************************************/
/***************************MIXINS**************************/
/***********************************************************/
/***********************************************************/
/***************************MIXINS**************************/
/***********************************************************/





/*theme colors*/

/*gray      #222*/
/*white     #e4e4e4*/
/* colors : #06befe", "#3872f8", "#8900fe", "#d120a6", "#ff166f"*/


* {
  margin: 0;
  padding: 0;
}

textarea:focus, input:focus{
    outline: none;
}
*:focus {
    outline: none;
    outline-width: 0;
}
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 0 rgba(81, 203, 238, 1);
  /*padding: 3px 0px 3px 3px;*/
  /*margin: 5px 1px 3px 0px;*/
  border: 0px solid rgba(81, 203, 238, 1);
}


body {
  color: #e4e4e4 !important;
  background-image: url("../images/background.jpg"); 
  background-repeat: no-repeat;
  background-position: center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*font-family: 'Unica One', sans-serif;*/
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  background-color: #333335;
  word-wrap: break-word;
}
hr{
    border-top: 1px solid rgba(255,255, 255,0.3);
    margin-top: 10px;
    margin-bottom: 10px;
}
h1,
h2,
h3,
h4 {
  font-family: 'Unica One', sans-serif;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
  padding:0px;
}


.navbar{
  margin-bottom: 0px !important;
}
.container {
  width: 100%;
  height: auto;
  padding: 0px !important;
}
.well {
  background-color: rgba(0, 0, 0,0.3);
  border: 0px;
  border-radius: 0px;
}
.leftSidebar {
  background: #222;
  border-top: 10px solid #222;
  border-right: 10px solid #222;
  /*min-height: 820px;*/
  height: 100vh;
  margin-bottom: 0px;
  padding: 0px;
}
.rightSidebar {
  border-top: 10px solid #222;
  border-left: 10px solid #222;
  background-color: rgba(255,255, 255,0.10);
  height: 100vh;
  margin-bottom: 0px;
  padding: 10px 10px 10px 25px;
}
.rightSidebarHome {
  border-top: 10px solid #222;
  border-left: 10px solid #222;
  /*background-color: rgba(255,255, 255,0.10);*/
  text-align: center;
  height: 100vh;
  margin-bottom: 0px;
  padding: 10px;
}
.details p {
  margin-left: 23px;
  color: #00cbff;
}
.content{
  background: linear-gradient(rgba(0, 0, 0,0.5) 100%, rgba(0, 0, 0,0));
  margin-bottom: 0px;
  /*min-height: 820px;*/
  height: 100%;
  overflow: hidden;
}
.home{
  background-image: url("../images/poly.jpg") !important;
    background-repeat: no-repeat;
  background-position: center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
}

/*TABS*/

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align:center;
}

.nav-tabs, .nav-tabs>li>a{
  border: 0px;
}
.nav-tabs li a {
  color: #ffffff;
  padding: 0 !important;
}
.content .nav>li>a{
  padding: 0 15px;
}
.content .nav-tabs>li>a{
  border-radius: 0;
  margin-right: -3px;
}
.tab-content{
  padding:15px;
}
.tab-content div {
  position: relative;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  border: 0px;
}
.nav-tabs>li{
  cursor: pointer;
  width: 100px;
  text-align: center;
}

/*profile tab*/
#profile-tab{
  background-color: #00bfff;
  color: #00bfff;
  transition: all 0.5s ease;
  height: 20px;
}
#profile-tab:after{
  content: url(../images/profile.png);
  opacity:0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.7s ease;
}
#profile-tab:hover:after , .nav-tabs li.active a#profile-tab:after{
    opacity:1;
    display: block;
}

/*favorites tab*/
#favorites-tab{
  background-color: #3772ff;
  color: #3772ff;
  transition: height 0.5s ease;
  height: 20px;
}
#favorites-tab:after{
  content: url(../images/profile.png);
  opacity:0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.7s ease;
}
#favorites-tab:hover:after , .nav-tabs li.active a#favorites-tab:after{
    opacity:1;
    display: block;
}

/*following tab*/
#following-tab{
  background-color: #8a00ff;
  color: #8a00ff;
  transition: height 0.5s ease;
  height: 20px;
}
#following-tab:after{
  content: url(../images/profile.png);
  opacity:0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.7s ease;
}
#following-tab:hover:after , .nav-tabs li.active a#following-tab:after{
    opacity:1;
    display: block;
}

/*followers tab*/
#followers-tab{
  background-color: #d31fa4;
  color: #d31fa4;
  transition: height 0.5s ease;
  height: 20px;
}
#followers-tab:after{
  content: url(../images/profile.png);
  opacity:0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.7s ease;
}
#followers-tab:hover:after , .nav-tabs li.active a#followers-tab:after{
    opacity:1;
    display: block;
}

/*statistics tab*/
#statistics-tab{
  background-color: #ff1a7c;
  color: #ff1a7c;
  transition: height 0.5s ease;
  height: 20px;
}
#statistics-tab:after{
  content: url(../images/profile.png);
  opacity:0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.7s ease;
}
#statistics-tab:hover:after , .nav-tabs li.active a#statistics-tab:after{
    opacity:1;
    display: block;
}

/*my songs tab*/
#mySongs-tab{
  background-color: #fc6b24;
  color: #fc6b24;
  transition: height 0.5s ease;
  height: 20px;
}
#mySongs-tab:after{
  content: url(../images/profile.png);
  opacity:0;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.7s ease;
}
#mySongs-tab:hover:after , .nav-tabs li.active a#mySongs-tab:after{
    opacity:1;
    display: block;
}


 .nav-tabs li.active a, #profile-tab:hover, #favorites-tab:hover,#following-tab:hover, #followers-tab:hover,#statistics-tab:hover, #mySongs-tab:hover{
  color: white !important;
  height: 140px !important;
  cursor: pointer;
  border-bottom-left-radius: 5em;
  border-bottom-right-radius: 5em;
}

#search{
  margin-bottom: 140px;
}

select {
  color: black;
}
.cursor:hover {
  cursor: pointer;
}
/*SEARCH FORM*/
.search-form {
  border-radius: 30px 0px 0px 30px;
  border-radius: Top-left, Top-right, Bottom-right, Bottom-left;
}
/*to cange only one form and not all give unique class name like  class="search-form" */
.btn{
  padding: 4px 9px !important;
  line-height: 1 !important;
  font-size: 11px !important;
}
.btn-google{
    color: #fff;
    border-color: #ea4640;
    padding: 6px 17px !important;
    font-size: 14px !important;
}
.btn-google:hover{
  color: #fff;
  background-color: #ea4640;
}
.btn-facebook{
    color: #fff;
    border-color: #409ae7;
    padding: 6px 17px !important;
    font-size: 14px !important;
}
.btn-facebook:hover{
  color: #fff;
  background-color: #409ae7;
}
.btn-follow{
    color: #fff;
    border-color: #00cbff;
    padding: 6px 17px !important;
    font-size: 14px !important;
}
.btn-follow:hover{
  color: #fff;
  background-color: #00cbff;
}
.search-btn {
  height:20px;
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
  background-color: #4a4a4a;
  border: 0px;

}
.mode-container{
  margin: 0 auto;
  text-align: center;
}
.mode-btn{
  color: #64d8ff;
  border-radius: 2em;
  border: 0px;
  background-color: #00bfff;
  font-size: 14px;
  padding: 3px 16px;
  font-weight: 600;
  margin-right: 10px;
}
.mode-btn.active{
  background-color: #00bfff;
  color: #fff;
}

.mode-btn.active:hover , .btn-default.active:focus{
  background-color: #00bfff;
  color: #fff;
}
.mode-btn:hover{
  background-color: #00bfff;
  color: #fff;
}
.search-wrapper{
  margin-top: 6px;
}
.search-custom {
  display: inline-block;
  height:20px;
  width: 88%;
  background-color: #4a4a4a;
  border: 0px;
  color:#ffffff;
}
.search-custom:focus{
  outline: 0;
}
.searchresults{
  width: 130px;
  float: left;
  margin-right: 25px;
}
.searchresults p {
  text-align: center;
  margin-top: 5px;
}
.searchresults img{
  width: 100%;
}
.simg{
  border-radius: 50%;
  cursor: pointer;
}
/*FAVORITES TABLE*/
.song {
  font-weight: 600;
  text-align: center;
}
.duration {
  text-align: right;
}
.table-hover tbody tr td {
  border-color: #8900fe;
}
.table-hover tbody tr:hover td {
  background-color: #8900fe;
  border-color: #8900fe;
}

#recommended{
  margin-top: 20px;
}
/*PIE*/
.highcharts-container {
  margin: 0 auto;
  position: inherit !important;
}
.highcharts-tooltip {
  z-index: 9999 !important;
}
.highcharts-tooltip tspan {
  font-size: 16px !important;
}
.custom-tooltip {
  font-family: 'Source Sans Pro', sans-serif;
  width: 135px;
  height: 135px;
  color: white;
  line-height: 130px;
  border-radius: 50%;
  z-index: 9999 !important;
  text-align: center;
}
.custom-tooltip > span {
  display: inline-block;
  line-height: 20px;
  vertical-align: middle;
}
.custom-tooltip p {
  font-weight: 500;
  margin: auto auto;
}
#profileImg {
  border: 3px dotted #ffffff;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
  -webkit-animation: fadein 2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s;
  /* Firefox < 16 */
  -ms-animation: fadein 2s;
  /* Internet Explorer */
  -o-animation: fadein 2s;
  /* Opera < 12.1 */
  animation: fadein 2s;
}
/*END PIE*/
#ex1Slider .slider-selection {
  background: #BABABA;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.img {
  background-image: url("https://lh6.googleusercontent.com/-gaAgFzRLxQQ/AAAAAAAAAAI/AAAAAAAAAjc/ies0iU4BEqU/photo.jpg");
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
/***********************************************************/
/******************REGION: PLAYLIST STYLE*******************/
/***********************************************************/
.playlistItem {
  color: #cecece;
}
.first-item {
  display: none;
  background-color: #E0E0E3;
  padding-left: 24px;
  padding-top: 8px;
  border-radius: 2em;
  font-weight: bold;
}
.first-item div {
  color: #333335;
}
.first-item div .location a {
  color: #23527c;
}
.first-item hr {
  border-top: 1px solid transparent;
}
.bold {
  font-weight: 700;
}

/***********************************************************/
/***************END REGION: PLAYLIST STYLE******************/
/***********************************************************/
/***********************************************************/
/*************REGION: PLAYER CONTROLS STYLE*****************/
/***********************************************************/
.red {
  color: #ff166f;
}
@media only screen and (min-width: 720px) and (max-width: 959px) {
  .red {
    color: #ffffff;
  }
}
@media only screen and (min-width: 1px) and (max-width: 719px) {
  .red {
    color: #8900fe;
  }
}
.yellow {
  /*color: #FFBB1B;*/
  color: #FFBB1B;
}
.yellow:hover {
  -webkit-transform: rotate(360deg);
  /* Chrome, Safari, Opera */
  -moz-transition: rotate(360deg);
  /* Firefox */
  -ms-transform: rotate(360deg);
  /* IE 9 */
  -o-transition: rotate(360deg);
  /* Opera */
  transform: rotate(360deg);
  -webkit-transition: all 1s ease;
  /* WebKit */
  -moz-transition: all 1s ease;
  /* Firefox */
  -ms-animation: all 1s ease;
  /* Internet Explorer */
  -o-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
  /* Standard */
}
.font-size {
  font-size: 20px;
}
.loader {
  background-image: url("../images/loader.gif");
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 200px;
  display: block;
  visibility: hidden;
}
.abs{
  position: absolute;
}
.invisible-loader {
  visibility: hidden;
}
.visible-loader {
  visibility: visible;
}
.player-container{
  background-color: #222;
}
#player{
  margin-bottom: 10px;
}
.playerControllers{
  padding: 5px 0 10px 0;
  text-align: center;
}
.playlist-container{
  padding: 10px;
}
.songName {
  text-align: center;
  font-size: 17px;
  line-height: 1.2;
}
.artistName {
  text-align: center;
  font-size: 14px;
}
.producerForm{
  width: 200px;
  height: 30px;
  padding: 10px;
  color: #222;
  border-radius: 3em;
  border: 0;
  background-color: rgba(255,255, 255,0.20);
}
.msgBlock {
  background-color: #E0E0E3;
  color: #333335;
  padding: 15px;
  position: fixed;
  bottom: 10px;
  left: 10px;
  z-index: 9999;
  font-size: 25px;
  font-weight: bold;
  border-radius: 20px;
  border: 2px solid #333335;
  opacity: 0;
}
.elementToFadeInAndOut {
  -webkit-animation: fadeinout 5s linear 1 forwards;
  animation: fadeinout 5s linear 1 forwards;
}
@-webkit-keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/***********************************************************/
/***********END REGION: PLAYER CONTROLS STYLE***************/
/***********************************************************/

/***********************************************************/
/***********REGION: STYLED SELECT***************************/
/***********************************************************/
.styled-select {
    height:35px;
    width: 325px;
    box-shadow: inset 1px 1px 2px #ddd8dc;
    background: #fff; 
    border-radius: 0px;
    border:none;
}

/* Select arrow styling */
.styled-select select {
    width: 100%;
    height: 100%;
    background: url("../images/arrow.png")  no-repeat;
    outline: none;
    border:none;
    border-radius: 0px;
    background-position: center right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
    padding-left: 10px;
    cursor: pointer;
}
select::-ms-expand { /* for IE 11 */
    display: none;
}
/***********************************************************/
/***********END REGION: STYLED SELECT***********************/
/***********************************************************/



 .fancybox-skin {
      /*background-image: #000; /* or whatever */
        color: #e4e4e4 !important;
  background-image: url("../images/background.jpg"); 
  background-repeat: no-repeat;
  background-position: center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    }


    /*producer wizard*/
    .ms-container{
      width: 100%;
    }